.save-card {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 1px dashed #99ccff;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;

    &__remove-button {
        align-self: flex-end;
        color: #99ccff;
        font-weight: 900;
        cursor: pointer;
    }
}